<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ip" connectionString="180.96.23.82:10010"/>
    <add name="AdvertServiceEndpointAddress" connectionString="LxZPjQyFo8uI/UxvQj1l5R8vRbL2mDwwtVYWcROeSgs="/>
  </connectionStrings>
  <appSettings>
    <!--自定义sopa的用户名-->
    <add key="soapHeaderUserName" value="njzbwx"/>
    <!--自定义sopa的密码，默认为juneberry-->
    <add key="soapHeaderPwd" value="8CCD84459532436CBFF80BE8C5DC076D"/>  
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
</configuration>