<?xml version="1.0"?>
<configuration> 
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Data Source=192.168.1.100;Initial Catalog=SeatManageDB_BSD;Persist Security Info=True;User ID=sa;Password=111aaa***"/>-->
    <!--juneberry远程服务的终结点-->
    <add name="AdvertServiceEndpointAddress" connectionString="92plv293pGC3zAUR2ANB5t3NIf+NmW4topYfOlQMZAY="/>
    <!--学校座位系统服务访问的终结点-->
    <add name="EndpointAddress" connectionString="92plv293pGC3zAUR2ANB5hvIRUw4e4oSDdi9z1X2m0I=" />
  </connectionStrings>
  <appSettings>
    <add key="ServiceAssembly" value="SeatService.Service.SeatWatch,SeatService.Service"/>
    <!--服务循环间隔时间-->
    <add key="Interval" value="10000"/>
    <!--学校编号-->
    <add key="SchoolNo" value="20111010"/>
    <!--终端授权：0 本地服务直接授权；1 服务器授权-->
    <add key="empower" value="1"/>
    <!--是否在线：Y 在线；N 不在线，如果设置错误，终端授权也会停止。-->
    <add key="Online" value="Y"/>
    
    <!--终端编号，合同编号+2位流水号-->
    <add key="ClientNO" value="101001" /> 
    <add key="RandCode" value="PrintRand.GetRand,PrintRand"/>
    <add key="IPOSMethod" value="Ipos.POS,Ipos"/> 
    <!--0:手动输入;1：读卡器读卡 -->
    <add key="CardKinds" value="0"/>  
  </appSettings>  
</configuration>
