<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!--UYGezq2snKCV6h7BjUvb8pTYYCYKw5FF3DlfDjNQDy8=-->
    <add name="EndpointAddress" connectionString="92plv293pGC3zAUR2ANB5j8UIcqclP6Ke36dLnZ0LRQ=" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
