<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="EndpointAddress" connectionString="92plv293pGC3zAUR2ANB5j8UIcqclP6Ke36dLnZ0LRQ="/>
    <add name="WeChatEndpointAddress" connectionString="68l0ICGrukeQTXwxCF1n9uE8tImsAKpdvtqhlBoc8x0="/>
  </connectionStrings>
  <appSettings>
    <!--<add key="ServiceHost" value="ServiceHostPockeService"/>-->
    <add key="configFileName" value="ServiceHostMonitorService.exe.config"/>
    <!--需要监控的服务-->
    <add key="ServiceHost" value="ServiceHostTimerHost"/>
    <add key="ServiceHost" value="ServiceHostWCFHost"/>
    <add key="ServiceHost" value="ServiceHostWeChatWCFHost"/>
    <add key="ServiceHost" value="ServiceHostWeChar"/>
    <!--监控循环时间-->
    <add key="CheckTime" value="30000"/>
    <!--重启服务设置-->
    <add key="RestartService" value="1"/>
    <add key="RestartTime" value="5:00"/>
    <!--是否记录日志-->
    <add key="ServiceStatusLog" value="1"/>
    <!--是否监控WCF服务-->
    <add key="CheckWeCharWCF" value="0"/>
    <add key="CheckSeatWCF" value="1"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>




