<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="AppServiceEndpointAddress" connectionString="bOwUhTrXq0pR9HyXTattzQ==" />
    <!--<add name="AdvertServiceEndpointAddress" connectionString="LxZPjQyFo8uI/UxvQj1l5ZYkLZT/uc9+DPMXhoSAPZA="/>-->
    <add name="AdvertServiceEndpointAddress" connectionString="CLJ2fQvmRZerFrTyIxoiwzFr0hVr2inW9yNlcW+E74k=" />
  </connectionStrings>
  <appSettings>
    <!--自定义sopa的用户名-->
    <add key="soapHeaderUserName" value="hjwl"/>
    <!--自定义sopa的密码，默认为juneberry-->
    <add key="soapHeaderPwd" value="25DFF82D0C42979145F32A0562AA82C9"/>  
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
</configuration>