<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--服务名字，不要有.exe后缀-->
    <add key="ServiceNames" value="ServiceHostMonitorService,ServiceHostWeChar,ServiceHostWeChatWCFHost,ServiceHostWCFHost,ServiceHostTimerHost"/>
    <!--单位：毫秒  1000毫秒=1秒  多少秒执行一次检查,默认3分钟检查一次-->
    <add key="CheckTimes" value="180000"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
