<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=180.96.23.214;Initial Catalog=AdvertManageSystemDB;Persist Security Info=True;User ID=sa;Password=!QAZxsw2"/>
    <!--<add name="ConnectionString" connectionString="Data Source=120.24.4.58;Initial Catalog=AdvertManageSystemDB;Persist Security Info=True;User ID=sa;Password=zdh@axn217"/>-->
    <add name="AdvertServiceEndpointAddress" connectionString="CLJ2fQvmRZerFrTyIxoiwzFr0hVr2inW9yNlcW+E74k="/>
  </connectionStrings>
  <appSettings>
    <add key="configFileName" value="AMS.ServiceHost.exe.config"/>
    <add key="ServiceAssembly" value="AMS.Service.AMS_Service,AMS.Service"/>
    <!--<add key="ServiceAssembly" value="AMS.TcpTransfersServer.TcpTransfersServer,AMS.TcpTransfersServer"/>-->
    <add key="ServiceAssembly" value="SeatManage.Middleware.DataTransfersMiddleware,SeatManage.Middleware"/>
    <!--<add key="ServiceAssembly" value="AdvertManage.WCFHost.AM_WcfHost,AdvertManage.WCFHost"/>-->
    <!--文件上传过来存放的路径-->
    <add key="SaveFilePath" value="E:\FileTransport\Juneberry\"/>
    <!--文件下载时的缓冲区大小-->
    <add key="BufferSize" value="200"/>
    <!--socket服务 推送微信消息要请求的地址-->
    <add key="weiXinMsgSendUrl" value="http://180.96.23.82/WeiXinSendTemplateMsg.ashx"/>
    <add key="WeCharPushUrl" value="http://192.168.1.103:94/SendMessage"/>
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="AMS.BllServiceBehavior">
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <!--true则会将服务器端的错误返货到客户端  -->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="AMS.BllServiceBehavior" name="AdvertManage.WCFService.AdvertManageService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcpBindingConfiguration" contract="AdvertManage.IWCFService.IAdvertManageService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1:12315/AdvertManageService/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="AMS.BllServiceBehavior" name="AMS.BllService.AdvertManageBllService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcpBindingConfiguration" contract="AMS.IBllService.IAdvertManageBllService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1:12315/AdvertManageBllService/"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="AMS.BllServiceBehavior" name="WcfServiceForTransportService.TransportService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcpBindingConfiguration" contract="IWCFService.TransportService.IFileTransportService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1:12315/TransportService/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindingConfiguration" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard"  maxBufferPoolSize="2147483647 " maxBufferSize="2147483647 "  maxReceivedMessageSize="2147483647 ">
          <!--<binding name="netTcpBindingConfiguration" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="2147483647 " maxBufferSize="2147483647 " maxConnections="10" maxReceivedMessageSize="2147483647 ">-->
          <!--<readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />-->
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
