<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EndpointAddress" connectionString="GvhyVNreA8OEIIwGpvsh90IlJmJXgcjIFcoY465uOKk=" />
  </connectionStrings>
  <appSettings>
    <!--启动项名称格式：子系统名:启动项路径,配置文件-->
    <add key="StartUpProgram" value="Mediaplayer:MediaPlayer\MediaPlayerClient.exe,MediaPlayerClient,MediaPlayerClient" />
    <!--启动项名称格式：子系统名:启动项路径,配置文件-->
    <add key="StartUpProgram" value="SeatClient:SeatClient\SeatClient.exe,SeatClient,SeatMainWindow" />
    <!--SendMessageAPP MediaPlayerClient WebViewWindow--> 
    <add key="MediaCLient" value="MediaPlayerClient" />
    <add key="SeatClient" value="SeatMainWindow" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--学校编号-->
    <add key="SchoolNo" value="20171003"/>
    <!--终端编号-->
    <add key="ClientNo" value="2017100301" />
  <!--设备发送状态间隔-->
    <add key="SendMessageInterval" value="10000"/>
    <add key="IsCheckInternet" value="1"/>
    <add key="ScreenShots" value="1"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>