<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=121.40.81.12;Initial Catalog=SeatManageDB;Persist Security Info=True;User ID=sa;Password=zdh@axn217"/>
    <add name="EndpointAddress" connectionString="GvhyVNreA8OEIIwGpvsh9/Tbwn0edCr28y8gSJxWjJs="/>
    <add name="AdvertServiceEndpointAddress" connectionString="PZTIUARG0KfnGK5orzcMaQ0c65OW3ZqJMCHuY43aXXTrINAkuF4fzHyn5PjgQ1/w"/>
    <add name="AppServiceEndpointAddress" connectionString="68l0ICGrukeQTXwxCF1n9uE8tImsAKpdvtqhlBoc8x0="/>
  </connectionStrings>
  <appSettings>
    <!--*****************************************基础配置*****************************************-->
    <add key="SaveFilePath" value="E:\FileTransport\School\"/>
    <add key="BufferSize" value="200"/>
    <!--学校编号-->
    <add key="SchoolNo" value="2017071701"/>
    <!--终端授权：0 本地服务直接授权；1 服务器授权-->
    <add key="empower" value="1"/>
    <!--是否在线：Y 在线；N 不在线，如果设置错误，终端授权也会停止。-->
    <add key="Online" value="Y"/>
    <!--启用推送-->
    <add key="PushMsg" value="1"/>
    <!--*****************************************接口配置*****************************************-->
    <!--登录验证接口-->
    <!--<add key="ILoginValidate" value="SeatManage.ISystemTerminal.ILoginValidate.DefaultLoginValidate,SeatManage.ISystemTerminal"/>-->
    <add key="ILoginValidate" value="SeatManage.ISystemTerminal.ILoginValidate.DataBaseModeLogin,SeatManage.ISystemTerminal" />
    <!--读者库同步接口-->
    <add key="IStuLibSync" value="SeatManage.StudentSync.StudentSync,SeatManage.StudentSync"/>
    <!--获取读者信息的接口-->
    <add key="IReaderSource" value="SeatManage.StudentSource.ReaderSource,SeatManage.StudentSource"/>
    <add key="lianchuangStaInfo" value="2;0"/>
    <!--*****************************************服务配置*****************************************-->
    <!--说要启动的服务-->
    <add key="configFileName" value="ServiceHostTimerHost.exe.config"/>
    <add key="ServiceAssembly" value="SeatService.MonitorService.MonitorService,SeatService.MonitorService"/>
    <add key="ServiceAssembly" value="SeatService.StatisticsService.StatisticsService,SeatService.StatisticsService"/>
    <add key="ServiceAssembly" value="SeatService.SyncService.SyncService,SeatService.SyncService"/>
    <add key="ServiceAssembly" value="AMS.DataTransfer.DataTransferService,AMS.DataTransfer"/>
    <!--<add key="ServiceAssembly" value="EntranceGuardDataHandlerService.EntranceGuardDataHandlerService,EntranceGuardDataHandlerService"/>-->
    <!-- 记录上传时间-->
    <add key="LogUploadTime" value="2:00"/>
    <!--服务循环间隔时间-->
    <add key="Interval" value="3600000"/>
    <add key="MonitorServiceInterval" value="10000"/>
    <add key="StatisticsServiceInterval" value="3000000"/>
    <add key="StatisticsServiceRunTime" value="3:00"/>
    <add key="ReaderSyncServiceInterval" value="3000000"/>
    <!--*****************************************门禁配置*****************************************-->
    <!--门禁验证-->
    <add key="BushEffectiveTime" value="30"/>
    <add key="SelectCheckAccount" value="1"/>
    <add key="ReadCardRemark" value="请先刷2楼门禁"/>
    <!--刷卡记录有效时间 默认5分钟内有效-->
    <add key="validMinutes" value="5"/>
    <!--刷卡记录保留时间，默认保留30天-->
    <add key="delLogDays" value="30" />
    <!--删除过期刷卡记录操作时间-->
    <add key="delHandleTime" value="2:00"/>
    <add key="dataHandlerUrl" value="http://202.207.250.10:8080/WebService/SM_AccessInterface.asmx"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>