<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=121.40.81.12;Initial Catalog=SeatManageDB;Persist Security Info=True;User ID=sa;Password=zdh@axn217"/>
    <add name="AppServiceEndpointAddress" connectionString="68l0ICGrukeQTXwxCF1n9uE8tImsAKpdvtqhlBoc8x0="/>
  </connectionStrings>
  <appSettings>
    <!--*****************************************基础配置*****************************************-->
    <!--学校编号-->
    <add key="SchoolNo" value="2017071701"/>
    <!--启用推送-->
    <add key="PushMsg" value="1"/>
    <!--*****************************************接口配置*****************************************-->
    <!--登录验证接口-->
    <!--<add key="ILoginValidate" value="SeatManage.ISystemTerminal.ILoginValidate.DefaultLoginValidate,SeatManage.ISystemTerminal"/>-->
    <add key="ILoginValidate" value="SeatManage.ISystemTerminal.ILoginValidate.DataBaseModeLogin,SeatManage.ISystemTerminal" />
    <!--*****************************************门禁配置*****************************************-->
    <!--门禁验证-->
    <add key="BushEffectiveTime" value="30"/>
    <add key="SelectCheckAccount" value="1"/>
    <add key="ReadCardRemark" value="请先刷2楼门禁"/>
  </appSettings>
</configuration>