<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=192.168.1.100;Initial Catalog=AdvertManageSystemDBV2;Persist Security Info=True;User ID=juneberry;Password=njzbwx"/>
    <add name="AdvertServiceEndpointAddress" connectionString="CLJ2fQvmRZerFrTyIxoiwzgayY1KR1urZSuoR5aDZUc="/>
    <add name="EndpointAddress" connectionString="CLJ2fQvmRZerFrTyIxoiwzgayY1KR1urZSuoR5aDZUc="/>
  </connectionStrings>
  <appSettings>
    <add key="configFileName" value="AmsServiceHost.exe.config"/>
    <!--数据中转服务接口信息 value值： 逗号前为类的命名空间+类名称，后面为程序集名称-->
    <!--<add key="ServiceAssembly" value="AdvertManage.DataTransfer.DataTransferService,AdvertManage.DataTransfer"/>-->
    <add key="ServiceAssembly" value="AdvertManage.WCFHost.AM_WcfHost,AdvertManage.WCFHost"/> 
    <!--文件上传过来存放的路径-->
    <add key="SaveFilePath" value="E:\FileTransport\Juneberry\"/>
    <!--文件下载时的缓冲区大小-->
    <add key="BufferSize" value="200"/>

    <!--数据中转服务接口信息 value值： 逗号前为类的命名空间+类名称，后面为程序集名称-->
    <!--<add key="ServiceAssembly" value="AdvertManage.DataTransfer.DataTransferService,AdvertManage.DataTransfer"/>-->
    <!-- 记录上传时间-->
    <add key="LogUploadTime" value="2:00"/>
    <!--服务循环间隔时间-->
    <add key="Interval" value="10000"/>
    <!--学校编号-->
    <add key="SchoolNo" value="03201212040"/>
    <!--终端授权：0 本地服务直接授权；1 服务器授权-->
    <add key="empower" value="1"/>
    <!--是否在线：Y 在线；N 不在线，如果设置错误，终端授权也会停止。-->
    <add key="Online" value="Y"/>
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="AdvertManage.AdvertManageServiceBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <!--true则会将服务器端的错误返货到客户端-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="AdvertManage.AdvertManageServiceBehavior"
          name="AdvertManage.WCFService.AdvertManageService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcpBindingConfiguration" contract="AdvertManage.IWCFService.IAdvertManageService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1:8330/AdvertManageService/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="AdvertManage.AdvertManageServiceBehavior"
          name="WcfServiceForTransportService.TransportService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcpBindingConfiguration" contract="IWCFService.TransportService.IFileTransportService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1:8330/TransportService/" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindingConfiguration"
                 closeTimeout="00:01:00"
                 openTimeout="00:01:00"
                 receiveTimeout="00:10:00"
                 sendTimeout="00:10:00"
                 transactionFlow="false"
                 transferMode="Buffered"
                 transactionProtocol="OleTransactions"
                 hostNameComparisonMode="StrongWildcard"
                 listenBacklog="10"
                 maxBufferPoolSize="2147483647 "
                 maxBufferSize="2147483647 "
                 maxConnections="10"
                  
                 maxReceivedMessageSize="2147483647 ">
          <!--<readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />-->
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
