<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="FineUI" type="FineUI.ConfigSection, FineUI" />
    <section name="casClientConfig" type="DotNetCasClient.Configuration.CasClientConfiguration, DotNetCasClient"/>
  </configSections>
  <!-- *********************************** EXTASPNET **************************** -->
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=192.168.1.112;Initial Catalog=SeatManageDBV2;Persist Security Info=True;User ID=sa;Password=njzbwx" />
    <add name="EndpointAddress" connectionString="CLJ2fQvmRZerFrTyIxoiw/Dusjx/eYZtrPoLtpEmuFM=" />
    <add name="AppServiceEndpointAddress" connectionString="myHpbDeNo6g6SZnV63Nu6CKLyRlWjhC9xnkNWgpEoJE=" />
  </connectionStrings>
  <!--*****************************************金智登录配置配置*****************************************-->
  <casClientConfig
      casServerLoginUrl="http://idas.uestc.edu.cn/authserver/login"
      casServerUrlPrefix="http://idas.uestc.edu.cn/authserver/"
      serverName="http://seatlib.uestc.edu.cn/CASAutoLogin.aspx"
      redirectAfterValidation="true"
      gateway="false"
      renew="false"
      singleSignOut="true"
      ticketTimeTolerance="5000"
      ticketValidatorName="Cas20"
      serviceTicketManager="CacheServiceTicketManager"
      gatewayStatusCookieName="CasGatewayStatus"/>
  <appSettings>
    <!--*****************************************金智登录配置配置*****************************************-->
    <add key="casServerLoginUrl" value="http://idas.uestc.edu.cn/authserver/login"/>
    <!--*****************************************超星登录配置配置*****************************************-->
    <add key="CXMD5Key" value="HDZFDXOO" />
    <!--*****************************************网站配置*****************************************-->
    <!--登录和注销地址，用于登录超时的重定向。如果使用统一身份认证，则登录地址设置该学校的登录处理地址，
        否则设置为Default.aspx和LogOut.aspx-->
    <add key="redirectLoginPage" value="/Login.aspx"/>
    <!--登出地址-->
    <add key="LogOutUrl" value="/Login.aspx"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;Url=~/TempImageFiles/;" />
    <!--*****************************************基础配置*****************************************-->
    <!--是否开启读者密码修改功能 open为开启密码修改，close为关闭密码修改-->
    <add key="ChangePassWord" value="open" />
    <!--学校编号-->
    <add key="SchoolNo" value="2014101603"/>
    <!--启用推送-->
    <add key="PushMsg" value="1"/>
    <!--研习间图片调用地址-->
    <add key="imageUrl" value="http://localhost:15683/" />
    <!--*****************************************接口配置*****************************************-->
    <!--登录验证接口-->
    <!--<add key="ILoginValidate" value="SeatManage.ISystemTerminal.ILoginValidate.DefaultLoginValidate,SeatManage.ISystemTerminal"/>-->
    <add key="ILoginValidate" value="SeatManage.ISystemTerminal.ILoginValidate.DataBaseModeLogin,SeatManage.ISystemTerminal" />
    <!--读者库同步接口-->
    <add key="IStuLibSync" value="SeatManage.StudentSync.StudentSync,SeatManage.StudentSync"/>
    <!--获取读者信息的接口-->
    <add key="IReaderSource" value="SeatManage.StudentSource.ReaderSource,SeatManage.StudentSource"/>
    <add key="lianchuangStaInfo" value="2;0"/>
    <!--*****************************************门禁配置*****************************************-->
    <!--门禁验证-->
    <add key="BushEffectiveTime" value="30"/>
    <add key="SelectCheckAccount" value="1"/>
    <add key="ReadCardRemark" value="请先刷2楼门禁"/>
  </appSettings>

  <system.web>
    <!-- *********************************** EXTASPNET **************************** -->
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <httpModules>
      <add name="DotNetCasClient" type="DotNetCasClient.CasAuthenticationModule,DotNetCasClient"/>
      <add name="FineUIScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </httpModules>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <customErrors mode="RemoteOnly" defaultRedirect="ErrorPage.aspx"/>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="http://idas.uestc.edu.cn/authserver/login" timeout="30" defaultUrl="~/Default.aspx" cookieless="UseCookies" slidingExpiration="true" path="/"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>

  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="false">
    
    </modules>
    <validation  validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>
