<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <!--预留在微信服务器上地信息-->
  <appSettings>
    <add key="TOKEN" value="JuneberryGFWX"/>
    <add key="AppID"  value="wx7615afbb4cb2ad78"/>
    <add key="AppSecret"  value="c2e9b8abf5e9b2d714f05bf884f52eb3"/>
    <add key ="Domain" value ="http://180.96.23.82"/>
    <add key ="PocketDomain" value="http://yuyue.juneberry.cn"/>
  </appSettings>
  <connectionStrings>
    <add name="AdvertServiceEndpointAddress" connectionString="CLJ2fQvmRZerFrTyIxoiwzFr0hVr2inW9yNlcW+E74k=" />
    <add name="ip" connectionString="180.96.23.82:10010"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="RemoteOnly" defaultRedirect="mycustompage.htm"/>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <!--path中指定的是执行type中HttpHandler的访问路径。此路径可以带后缀也可以不带后缀。如果path配置为*，则会对所有的请求执行此HttpHandler-->
      <add  verb="*" path="LoginForm.aspx" type="WeiXinServiceManage.WeiXinServiceHandle,WeiXinServiceManage"/>
    </httpHandlers>
  </system.web>
</configuration>
