<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!--juneberry远程服务的终结点-->
    <add name="AdvertServiceEndpointAddress" connectionString="LxZPjQyFo8uI/UxvQj1l5R8vRbL2mDwwtVYWcROeSgs="/>
    <!--如果是学校部署这个，则需要把连接字符串配置为学校服务的连接字符串-->
    <add name="ConnStr" connectionString="net.tcp://localhost:8201/"/>
    <add name="EndpointAddress" connectionString="92plv293pGC3zAUR2ANB5j8UIcqclP6Ke36dLnZ0LRQ="/>
  </connectionStrings>
  <appSettings>
    <add key="ILoginValidate" value="SeatManage.ISystemTerminal.ILoginValidate.LoginValidate,PocketBookOnLineBll"/>
    <add key="imageUrl" value="http://localhost:15683/" />
    <add key="serverUrl" value="http://localhost:2521/AutoLogin_JMDX.aspx" />
    <!--登录和注销地址，用于登录超时的重定向。如果使用统一身份认证，则登录地址设置该学校的登录处理地址，
        否则设置为Default.aspx和LogOut.aspx-->
    <add key="redirectLoginPage" value="/Login.aspx"></add>
    <add key="LogOutUrl" value="/LogOut.aspx"></add>
    
    <add key="casServerLoginUrl" value="http://uis.shou.edu.cn/cas/login"></add>
    <add key="casServerServiceValidateUrl" value="http://uis.shou.edu.cn/cas/serviceValidate"></add>
    <add key="casServerLogoutUrl" value="http://uis.shou.edu.cn/cas/logout" />

    <add key="CXRedirecturl" value="http://uis.shou.edu.cn/cas/serviceValidate"/>
    <add key="CXLoginurl" value="http://uis.shou.edu.cn/cas/logout" />
    <add key="CXMD5Key" value="HDZFDXOO" />
  </appSettings>
  <system.web>
    <customErrors mode="RemoteOnly" defaultRedirect="ErrorPage.aspx"/>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
    </modules>
  </system.webServer>
</configuration>
