<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="EndpointAddress" connectionString="92plv293pGC3zAUR2ANB5j8UIcqclP6Ke36dLnZ0LRQ=" />
  </connectionStrings>
  <appSettings>
    <!--启动大小：左上角x，左上角y，宽，高-->
    <add key="Top" value="0" />
    <add key="Left" value="0" />
    <add key="Width" value="1280" />
    <add key="Height" value="800" />
    <add key="ChangeTime" value="10000" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>