<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="EndpointAddress" connectionString="92plv293pGC3zAUR2ANB5j8UIcqclP6Ke36dLnZ0LRQ="/>
  </connectionStrings>
  <appSettings>
    <!--窗体初始状态，1最大化；0最小化-->
    <add key="windowState" value="0"/>
    <!--离开状态，0 读者选择；1 暂离；2 释放座位；3 续时。设置为3，如果阅览室不开放续时功能，则无效。-->
    <add key="LeaveState" value="2"/>
    
    <!--********************************读卡器接口 基本设置*******************************-->
    <!--读卡器的接口序集接口-->
    <add key="ICardReader" value="CardReaderObject.CardReaderObject,CardReaderObject"/>
    <!--读卡读卡操作逻辑程序集-->
    <add key="IPOSMethod" value="PosObject.PosObject,PosObject"/>
    <!--读卡器是否鸣叫：True为刷卡成功叫一声，False为刷卡成功不叫-->
    <add key="IsBeep" value="True"/>
    <!--0:手动输入;1：读卡器读卡 -->
    <add key="CardKinds" value="1" />
    <!--0 直接读取，返回十进制字符串；1 直接读取转换为16进制；2 位置调换后的16进制；3 16进制高地位调换后的十进制字符串-->
    <add key="CardSnType" value="0"/>
    <!--卡列号长度：Full 长度为标准8位或者10位，不足前面补0；Part 长度为转换后的默认长度-->
    <add key="cardSnLength" value="Part"/>
    <!--刷卡后读卡器是否会响-->
    <add key="IsBeep" value="true"/>
    <!--验证读卡器读到的学号-->
    <add key="IsCheckCardNo" value="true"/>
    
    <!--*********************新中新读卡器*************************-->
    <!--第三方服务器的Ip和端口号-->
    <add key="XZX_ServerEndPort" value="10.9.0.11:8500"/>
    <!--子系统号-->
    <add key="XZX_SysCode" value="20"/>
    <!--站点号-->
    <add key="XZX_TerminalNo" value="10"/>
    <!--是否脱机:有效值：true，false-->
    <add key="XZX_Offline" value="true"/>
    <!--是否脱机:有效值：true，false-->
    <add key="XZX_AddReader" value="false" />
    <!--是否只读取卡号-->
    <add key="XZX_IsOnelyReaderCardId" value="true"/>
    
    <!--******************************键盘钩子配置******************************-->
    <!--读取的是否为CardId，如果是cardid，则根据cardId获取学号。-->
    <add key="Hook_isCardId" value="true"/>
    
    <!--*************************方卡读卡器**********************************-->
    <!--读卡器端口号-->
    <add key="PosPort" value="3"/>

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
