<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=192.168.1.100\MSSQLSERVER2005;Initial Catalog=SeatManageDBV3;Persist Security Info=True;User ID=sa;Password=njzbwx" />
    <add name="EndpointAddress" connectionString="92plv293pGC3zAUR2ANB5j8UIcqclP6Ke36dLnZ0LRQ=" />
    <add name="AppServiceEndpointAddress" connectionString="68l0ICGrukeQTXwxCF1n9uE8tImsAKpdvtqhlBoc8x0=" />
    <add name="AdvertServiceEndpointAddress" connectionString="PZTIUARG0KfnGK5orzcMaQ0c65OW3ZqJMCHuY43aXXTrINAkuF4fzHyn5PjgQ1/w" />
  </connectionStrings>
  <appSettings>
    <add key="lianchuangStaInfo" value="2;0">
    </add>
    <add key="configFileName" value="WindowsServiceHost.exe.config" />
    <!--<add key="ServiceAssembly" value="SeatService.Service.SeatWatch,SeatService.Service"/>-->
    <!--预约代理服务-->
    <!--数据中转服务接口信息 value值： 逗号前为类的命名空间+类名称，后面为程序集名称-->
    <!--<add key="ServiceAssembly" value="SMS.SeatTcpServer.SeatBespeakTcpProxy,SMS.SeatTcpServer"/>-->
    <!--读者库同步接口，根据实际情况进行配置-->
    <add key="IStuLibSync" value="SeatManage.StudentSync.StudentSync,SeatManage.StudentSync">
    </add>
    <!--源读者库中读取信息的接口，根据实际配置-->
    <add key="SaveFilePath" value="E:\FileTransport\School\" />
    <add key="BufferSize" value="200" />
    <add key="ILoginValidate" value="SeatManage.ISystemTerminal.ILoginValidate.DefaultLoginValidate,SeatManage.ISystemTerminal" />
    <!-- 记录上传时间-->
    <add key="LogUploadTime" value="2:00" />
    <!--服务循环间隔时间-->
    <add key="Interval" value="10000" />
    <add key="MonitorServiceInterval" value="10000" />
    <add key="StatisticsServiceInterval" value="100000" />
    <add key="StatisticsServiceRunTime" value="1:00" />
    <add key="ReaderSyncServiceInterval" value="100000" />
    <!--学校编号-->
    <add key="SchoolNo" value="2014101603" />
    <!--终端授权：0 本地服务直接授权；1 服务器授权-->
    <add key="empower" value="1" />
    <!--是否在线：Y 在线；N 不在线，如果设置错误，终端授权也会停止。-->
    <add key="Online" value="Y" />
    <!--读者库同步接口-->
    <add key="IStuLibSync" value="SeatManage.StudentSync.StudentSync,SeatManage.StudentSync">
    </add>
    <!--获取读者信息的接口-->
    <add key="IReaderSource" value="SeatManage.StudentSource.ReaderSource,SeatManage.StudentSource" />
    <add key="PushMsg" value="0" />
    <add key="ServiceAssembly" value="SeatManage.WCFService.WcfHost,SeatManage.WCFService" />
    <add key="ServiceAssembly" value="SeatService.MonitorService.MonitorService,SeatService.MonitorService" />
    <add key="ServiceAssembly" value="SeatService.StatisticsService.StatisticsService,SeatService.StatisticsService" />
    <add key="ServiceAssembly" value="SeatService.SyncService.SyncService,SeatService.SyncService" />
    <add key="ServiceAssembly" value="AMS.DataTransfer.DataTransferService,AMS.DataTransfer" />
    <add key="ServiceAssembly" value="SeatManage.MobileAppService.MobileAppService,SeatManage.MobileAppService" />
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WcfServiceForSeatManage.ReaderOperateBehavior">
          <serviceThrottling maxConcurrentCalls="2147483647" maxConcurrentInstances="2147483647" maxConcurrentSessions="2147483647" />
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <!--true则会将服务器端的错误返货到客户端-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="WcfServiceForSeatManage.ReaderOperateBehavior" name="WcfServiceForSeatManage.SeatManageDateService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcpBindingConfiguration" contract="SeatManage.IWCFService.ISeatManageService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="net.tcp://localhost:10011/SeatManageDateService/mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8201/SeatManageDateService/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="WcfServiceForSeatManage.ReaderOperateBehavior" name="WcfServiceForTransportService.TransportService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcpBindingConfiguration" contract="IWCFService.TransportService.IFileTransportService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="net.tcp://localhost:10011/TransportService/mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8201/TransportService/" />
          </baseAddresses>
        </host>
      </service>
      <!--预约座位的访问服务-->
      <service behaviorConfiguration="WcfServiceForSeatManage.ReaderOperateBehavior" name="SeatManage.PocketBespeakBllService.PocketBespeakBllService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcpBindingConfiguration" contract="SeatManage.IPocketBespeakBllService.IPocketBespeakBllService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="net.tcp://localhost:10011/PocketBespeakBllService/mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8201/PocketBespeakBllService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindingConfiguration" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="1000" maxBufferPoolSize="2147483647 " maxBufferSize="2147483647 " maxConnections="1000" maxReceivedMessageSize="2147483647 ">
          <!--<binding name="netTcpBindingConfiguration" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647 " maxBufferSize="2147483647 " maxReceivedMessageSize="2147483647 ">-->
          <!--<readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />-->
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>