<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=192.168.1.100\MSSQLSERVER2005;Initial Catalog=SeatManageDBV3;Persist Security Info=True;User ID=sa;Password=njzbwx"/>
   
    <add name="ip" connectionString="180.96.23.82:10010"/>
  </connectionStrings>
  <appSettings> 
    <add key="SchoolNo" value="2014101602"/>
    <!--获取读者信息的接口-->
    <add key="IReaderSource" value="SeatManage.StudentSource.ReaderSource,SeatManage.StudentSource"/>
    <!--登录验证的接口信息-->
    <add key="ILoginValidate" value="SeatManage.ISystemTerminal.ILoginValidate.DefaultLoginValidate,SeatManage.ISystemTerminal"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
