<?xml version="1.0"?>
<configuration> 
  <connectionStrings> 
    <add name="EndpointAddress" connectionString="92plv293pGC3zAUR2ANB5j8UIcqclP6Ke36dLnZ0LRQ="/> 
  </connectionStrings>
  <appSettings> 
    <add key="ADLoopTime" value="500"/>
    <!--默认媒体文件-->
    <add key="defaultVideo" value="默认图片.png"/> 
    <!--学校编号-->
    <add key="SchoolNo" value="20140714"/>
    <!--校区编号-->
    <add key="CampusNo" value="2014071401"/>
    <!--设备发送状态间隔-->
    <add key="SendMessageInterval" value="10000"/>
    <add key="UpdateTime" value="300000"/>
    <!--是否脱机，值为1，不脱机；为0，脱机--> 
    <add key="IsOffline" value="1"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup> 
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>