<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HomeUrl" value="http://lib.jmu.edu.cn/" />
    <add key="ComeBackNormalTime" value="10"/>
    <add key="AddSize" value="600"/>
    <!--SendMessageAPP-->
    <add key="SendMessageAPP" value="SeatMainWindow"/>
  </appSettings>
</configuration>