<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <!-- *********************************** EXTASPNET **************************** -->
  <configSections>
    <section name="FineUI" type="FineUI.ConfigSection, FineUI" />
  </configSections>
  <!-- 可用的配置项（这里列的都是默认值）:Language="zh_CN" AjaxTimeout="60" EnableAjax="true" Theme="blue" FormMessageTarget="qtip" FormOffsetRight="20" FormLabelWidth="100" FormLabelSeparator="：" IconBasePath="~/icon" EnableAjaxLoading="true" AjaxLoadingType="default" CustomTheme="" CustomThemeBasePath="~/theme" -->
  <appSettings>
    <add key="casServerLoginUrl" value="http://uis.shou.edu.cn/cas/login"></add>
    <add key="casServerServiceValidateUrl" value="http://uis.shou.edu.cn/cas/serviceValidate"></add>
    <add key="casServerLogoutUrl" value="http://uis.shou.edu.cn/cas/logout" />
    <add key="targetUrl" value="http://localhost:2521/Florms/FormSYS.aspx" />
    <!-- targetUrl为认证通过之后最终要访问的资源路径-->
    <add key="appUrl" value="http://localhost:2521/SHHYIndex.aspx" />
    <!--登录和注销地址，用于登录超时的重定向。如果使用统一身份认证，则登录地址设置该学校的登录处理地址，
        否则设置为Default.aspx和LogOut.aspx-->
    <add key="redirectLoginPage" value="/Default.aspx"></add>
    <add key="LogOutUrl" value="/LogOut.aspx"></add>

    <add key="ChartImageHandler" value="storage=file;timeout=20;Url=~/TempImageFiles/;" />
    <add key="IStuLibSync" value="SeatManage.StudentSync.StudentSync,SeatManage.StudentSync"></add>
    <add key="IReaderSource" value="SeatManage.StudentSource.ReaderSource,SeatManage.StudentSource" />
    <!--是否开启读者密码修改功能 open为开启密码修改，close为关闭密码修改-->
    <add key="ChangePassWord" value="open" />
    <add key="AccessInterfaceKey" value="600C1A92-5E4B6A57-264AC618-5879BDE3" />
    <add key="ReadingRoomInterfaceKey" value="12345678-90123456-78901234-56789012" />
  </appSettings>
  <FineUI EnableBigFont="true" DebugMode="false" IconBasePath="~/Images/icon" AjaxLoadingType="mask" />
  <!-- *********************************** EXTASPNET **************************** -->
  <connectionStrings>
    <!--UYGezq2snKCV6h7BjUvb8pTYYCYKw5FF3DlfDjNQDy8=-->
    <add name="EndpointAddress" connectionString="92plv293pGC3zAUR2ANB5j8UIcqclP6Ke36dLnZ0LRQ=" />
  </connectionStrings>
  <system.web>
    <!-- *********************************** EXTASPNET **************************** -->
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ext" namespace="FineUI" assembly="FineUI" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <httpModules>
      <add name="FineUIScriptModule" type="FineUI.ScriptModule, FineUI" />
    </httpModules>
    <httpHandlers>
      <add path="res.axd" verb="GET" type="FineUI.ResourceHandler, FineUI" />
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <!-- *********************************** EXTASPNET **************************** -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
            <add name="FineUIScriptModule" type="FineUI.ScriptModule, FineUI" preCondition="managedHandler" />
        </modules>
    <handlers>
      <remove name="ChartImageHandler" />
            <add name="res.axd_GET" path="res.axd" verb="GET" type="FineUI.ResourceHandler, FineUI" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
        <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <location path="icon">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="res">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="extjs">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>
