body
{
	margin: 8px;
	height: auto;
}

.inline
{
	margin-right: 5px;
	float: left;
}

table.result
{
	margin: 0px;
	padding: 0px;
	width: 500px; 
}

table.result th
{
	border-bottom: solid 1px #ccc;
	font-weight: bold;
	padding: 3px;
}

table.result td
{
	padding: 3px;
}

.lable
{
	font-size: larger;
}
