.header
{
	background-image: url(../images/header_bg.png);
	background-position: right;
	background-repeat: no-repeat;
	font-size: 22px;
	color: #fff;
	font-weight: bold;
	font-family: arial,tahoma,helvetica,sans-serif;
	width: 100%;
}

.intro
{
	font-family: arial,tahoma,helvetica,sans-serif;
	font-size: 13px;
	line-height: 1.5em;
}
.icon_aspx
{
	background-image: url(../Images/icon/vs_aspx.png) !important;
}
.icon_txt
{
	background-image: url(../images/filetype/vs_txt.png) !important;
}
.icon_htm
{
	background-image: url(../images/filetype/vs_htm.png) !important;
}
.headLeft
{
	background-image: url(../images/header_bg01.png);
	width: 520px;
}
.headRight
{
	list-style: none;
	height: 90px;
	text-align: right;
	font-weight: 100;
	font-size: 12px;
	color: #ffffff;
	vertical-align: bottom;
	padding-bottom: 10px;
	padding-right: 20px;
}
.main
{
	background: #000;
}

.bg_color
{
	background-color: #2e9ed7;
}
