<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=121.40.81.12;Initial Catalog=SeatManageDB;Persist Security Info=True;User ID=sa;Password=zdh@axn217"/>
    <add name="EndpointAddress" connectionString="GvhyVNreA8OEIIwGpvsh9/Tbwn0edCr28y8gSJxWjJs="/>
    <add name="AppServiceEndpointAddress" connectionString="68l0ICGrukeQTXwxCF1n9uE8tImsAKpdvtqhlBoc8x0="/>
  </connectionStrings>
  <appSettings>
    <!--*****************************************基础配置*****************************************-->
    <!--学校编号-->
    <add key="SchoolNo" value="2017071701"/>
    <!--启用推送-->
    <add key="PushMsg" value="1"/>
    <!--*****************************************接口配置*****************************************-->
    <!--登录验证接口-->
    <!--<add key="ILoginValidate" value="SeatManage.ISystemTerminal.ILoginValidate.DefaultLoginValidate,SeatManage.ISystemTerminal"/>-->
    <add key="ILoginValidate" value="SeatManage.ISystemTerminal.ILoginValidate.DataBaseModeLogin,SeatManage.ISystemTerminal" />
    <add key="lianchuangStaInfo" value="2;0"/>
    <!--*****************************************门禁配置*****************************************-->
    <!--门禁验证-->
    <add key="BushEffectiveTime" value="30"/>
    <add key="SelectCheckAccount" value="1"/>
    <add key="ReadCardRemark" value="请先刷2楼门禁"/>
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WcfServiceForSeatManage.ReaderOperateBehavior">
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentInstances="1000" maxConcurrentSessions="1000"/>
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <!--true则会将服务器端的错误返货到客户端-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <!--WCF服务配置-->
      <service behaviorConfiguration="WcfServiceForSeatManage.ReaderOperateBehavior" name="SeatManage.WeChatWcfService.WeChatService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcpBindingConfiguration" contract="SeatManage.IWeChatWcfService.IWeChatService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="net.tcp://localhost:8303/WeChatService/mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <!--端口配置-->
            <add baseAddress="net.tcp://localhost:8201/WeChatService/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindingConfiguration" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="1000" maxBufferPoolSize="2147483647 " maxBufferSize="2147483647 " maxConnections="1000" maxReceivedMessageSize="2147483647 " >
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>