<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="AdvertServiceEndpointAddress" connectionString="CLJ2fQvmRZerFrTyIxoiwzFr0hVr2inW9yNlcW+E74k="/>
  </connectionStrings>
  <appSettings>
    <add key="weiXinMsgSendUrl" value="http://192.168.1.122/WeiXinSendTemplateMsg.ashx"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
