<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=192.168.1.100\MSSQLSERVER2008;Initial Catalog=SeatManageV2.4_WCSYXY;Persist Security Info=True;User ID=sa;Password=njzbwx"/>
    <add name="EndpointAddress" connectionString="92plv293pGC3zAUR2ANB5j8UIcqclP6Ke36dLnZ0LRQ="/>
    <add name="AppServiceEndpointAddress" connectionString="68l0ICGrukeQTXwxCF1n9uE8tImsAKpdvtqhlBoc8x0="/>
    <add name="AdvertServiceEndpointAddress" connectionString="0Fcuk3rdMItJkTUtPoqxv3SJrRY7FV7is4uU6/rr0kM="/>
  </connectionStrings>
</configuration>