<?xml version="1.0"?>
<configuration> 
  <connectionStrings> 
    <add name="EndpointAddress" connectionString="0Fcuk3rdMItJkTUtPoqxvwAD8ndWlpU00z6/d6cUKxE="/> 
  </connectionStrings>
  <appSettings> 
    <add key="ADLoopTime" value="500"/>
    <!--默认媒体文件-->
    <add key="defaultVideo" value="默认图片01.jpg;默认图片02.jpg;默认图片03.jpg"/> 
    <!--学校编号-->
    <add key="SchoolNo" value="2014101603"/>
    <!--校区编号-->
    <add key="CampusNo" value="201410160301"/>
    <!--设备发送状态间隔-->
    <add key="SendMessageInterval" value="10000"/>
    <add key="UpdateTime" value="10000"/>
    <!--是否脱机，值为1，不脱机；为0，脱机--> 
    <add key="IsOffline" value="1"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="AddSize" value="600"/>
    <!--SendMessageAPP-->
    <add key="SeatClient" value="SeatMainWindow"/>
  </appSettings>
  <startup> 
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>