<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="AdvertServiceEndpointAddress" connectionString="wBhvNQ1REUdiWtC94q4EluBdyYxNK1b3dHkBgefLJeJX0j+RzSzMJdpPSZBwqaKa"/> 
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
